.card- {

  &basic,
  &-with-text-only,
  &-without-image,
  &-with-only-buttons,
  &-with-only-icons,
  &-for-courses,
  &-for-knowledge-bank,
  &-for-testimonials,
  &horizontal--with-image-and-text,
  &horizontal--with-icon-and-text,
  &horizontal--with-icon-with-text {
    max-width: 18vw;
    box-shadow: $shadow-3;
    border-radius: $card-rounding;
    display: inline-block;
    position: relative;
    float: none;
    margin-right: $space-xs;

    &.no-footer-icons {
      &>.card-footer>.card-footer-icons {
        display: none;
      }
    }

    &.no-footer-buttons {
      &.card-footer>.card-footer-buttons {
        display: none;
      }
    }

    &>.card {
      &-accent {
        position: relative;
        border-top-width: 5px;
        border-top-style: solid;
        border-top-left-radius: $card-rounding;
        border-top-right-radius: $card-rounding;
        width: 100%;
      }

      &-image {
        position: relative;
        overflow: hidden;

        &--on-side {
          width: 33%;
          display: table-cell;
          vertical-align: middle;
          float: none;
          text-align: center;
          overflow: hidden;

          &>img {
            width: 300%;
            margin-left: -100%;
          }

          &+.card-content {
            width: 69%;
          }
        }
      }

      &-icon {
        width: 24%;
        display: table-cell;
        vertical-align: top;
        float: none;
        text-align: center;
      }

      &-content {
        width: 76%;
        display: table-cell;
        vertical-align: middle;
        float: none;
      }

      &-testimonial {
        display: block;
      }

      &-body- {
        position: relative;

        &-with-click {
          cursor: pointer;

          &::after {
            content: url("data:image/svg+xml;%20charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22ellipsis-v%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20192%20512%22%20class%3D%22svg-inline--fa%20fa-ellipsis-v%20fa-w-6%20fa-5x%22%3E%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M96%20184c39.8%200%2072%2032.2%2072%2072s-32.2%2072-72%2072-72-32.2-72-72%2032.2-72%2072-72zM24%2080c0%2039.8%2032.2%2072%2072%2072s72-32.2%2072-72S135.8%208%2096%208%2024%2040.2%2024%2080zm0%20352c0%2039.8%2032.2%2072%2072%2072s72-32.2%2072-72-32.2-72-72-72-72%2032.2-72%2072z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
            position: absolute;
            top: $four;
            right: $space-xsm;
            width: 0.4em;
          }
        }

        &-on-click {
          position: absolute;
          background-color: white;
          cursor: pointer;
          transition: 0.4s all ease-in-out;
          overflow: scroll;
          height: 100%;

          &>p {
            pointer-events: none;
          }

          &::after {
            content: url("data:image/svg+xml;%20charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22times%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20352%20512%22%20class%3D%22svg-inline--fa%20fa-times%20fa-w-11%20fa-2x%22%3E%3Cpath%20fill%3D%22%238d8d8d%22%20d%3D%22M242.72%20256l100.07-100.07c12.28-12.28%2012.28-32.19%200-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48%200L176%20189.28%2075.93%2089.21c-12.28-12.28-32.19-12.28-44.48%200L9.21%20111.45c-12.28%2012.28-12.28%2032.19%200%2044.48L109.28%20256%209.21%20356.07c-12.28%2012.28-12.28%2032.19%200%2044.48l22.24%2022.24c12.28%2012.28%2032.2%2012.28%2044.48%200L176%20322.72l100.07%20100.07c12.28%2012.28%2032.2%2012.28%2044.48%200l22.24-22.24c12.28-12.28%2012.28-32.19%200-44.48L242.72%20256z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
            position: absolute;
            top: $space-xsm;
            right: $space-xsm;
            width: 0.8em;
            pointer-events: none;
          }

          &.closed {
            height: 0px !important;
            visibility: hidden;
            transition: 0.4s all ease-in-out;
          }
        }
      }

      &-footer {
        border-top: 0.5px solid $ter-2;
        position: relative;
        display: block;

        &>.card-footer-icons {
          float: right;
        }

        &>div {
          display: inline-block;
          position: relative;

          &>a>button {
            display: inline-block;
            margin: $zero;
            min-width: auto;
            font-size: 0.9em;

            &.btn-text--only-icon {
              padding: 0.5em 0.9em;
            }

            &.btn-text {
              padding: 0.6em 0.6em;
            }
          }
        }
      }
    }
  }
}

@mixin dark-card() {
  .card- {

    &basic,
    &-with-text-only,
    &-without-image,
    &-with-only-buttons,
    &-with-only-icons,
    &-for-courses,
    &-for-knowledge-bank,
    &-for-testimonials,
    &horizontal--with-image-and-text,
    &horizontal--with-icon-and-text,
    &horizontal--with-icon-with-text {
      background-color: $dark-3;
      box-shadow: $shadow-3-dark;

      &>.card-footer {
        &>div>a>button {
          color: $alt-2;
        }
      }

      &>.card-body--on-click {
        background-color: $dark-3;
      }
    }
  }

  .fa-stack-2x {
    color: $dark-2;
  }

  .fa-stack-1x {
    color: $white;
  }
}

@mixin card-windows() {
  .card- {

    &basic,
    &-with-text-only,
    &-without-image,
    &-with-only-buttons,
    &-with-only-icons,
    &-for-courses,
    &-for-knowledge-bank,
    &-for-testimonials,
    &horizontal--with-image-and-text,
    &horizontal--with-icon-and-text,
    &horizontal--with-icon-with-text {
      max-width: 20vw;
    }
  }
}

@mixin card-ipad() {
  .card- {

    &basic,
    &-with-text-only,
    &-without-image,
    &-with-only-buttons,
    &-with-only-icons,
    &-for-courses,
    &-for-knowledge-bank,
    &-for-testimonials,
    &horizontal--with-image-and-text,
    &horizontal--with-icon-and-text,
    &horizontal--with-icon-with-text {
      max-width: 26vw;
    }
  }
}

@mixin card-iphone() {
  .card- {

    &basic,
    &-with-text-only,
    &-without-image,
    &-with-only-buttons,
    &-with-only-icons,
    &-for-courses,
    &-for-knowledge-bank,
    &-for-testimonials,
    &horizontal--with-image-and-text,
    &horizontal--with-icon-and-text,
    &horizontal--with-icon-with-text {
      max-width: 90vw;
      margin-right: unset;

      &>.card {
        &-body- {
          &-with-click::after {
            right: $space-sm;
          }

          &-on-click::after {
            right: $space-sm;
          }
        }
      }
    }
  }
}

@mixin card-iphone-landscape() {
  .card- {

    &basic,
    &-with-text-only,
    &-without-image,
    &-with-only-buttons,
    &-with-only-icons,
    &-for-courses,
    &-for-knowledge-bank,
    &-for-testimonials,
    &horizontal--with-image-and-text,
    &horizontal--with-icon-and-text,
    &horizontal--with-icon-with-text {
      max-width: 40vw;
      margin-right: $space-md;
    }
  }
}